body {
    font-family: "Avenir Next";
  }
  
  /* Gunakan property list-style untuk menghilangkan bullet dari tag <li> */
  li {
    list-style: none;
    float: right;
    padding: 33px 20px;
  }
  
  .header {
    background-color:  #FF851B ;
    height: 90px;
    color: #fff;
  }
  
  .main {
    background-color: #001f3f;
    height: 600px;
    color: #fff;
  }
  
  .footer {
    background-color: #ceccf3;
    height: 270px;
  }

  .header-logo {
      float: left;
      font-size: 36px;
      padding: 20px 30px;
  }

